:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: hsla(25, 58%, 69%, 1);
  background: linear-gradient(90deg, hsla(25, 58%, 69%, 1) 0%, hsla(341, 62%, 52%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(25, 58%, 69%, 1) 0%, hsla(341, 62%, 52%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(25, 58%, 69%, 1) 0%, hsla(341, 62%, 52%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DDA881", endColorstr="#D03868", GradientType=1 );
}
